dist: xenial
language: python
python:
  - "3.7"
install:
  - sudo apt-get update
  - sudo apt-get -y install python3-pyqt5
  - pip install --upgrade -I pip setuptools
  - python setup.py install
  - pip install -I PyQt5
  - pip install --upgrade -I sip
  - pip install --upgrade -I PyQt5-sip
script:
  - pytest -vv
